@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, *::before, *::after{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{ 
    margin:0;
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: ; */
}

h1{
    font-size: 4rem;
    font-weight: normal;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.text-center{
    text-align: center;
}
.text-center span{
    font-size: 1.3rem;
}